:root {
  --white: rgba(255, 255, 255, 1);
  --grey-600: rgba(51, 51, 51, 1);
  --primary: rgba(101, 140, 74, 1);
  --body-small-semibold-font-family: "Inter", Helvetica;
  --body-small-semibold-font-weight: 600;
  --body-small-semibold-font-size: 14px;
  --body-small-semibold-letter-spacing: 0px;
  --body-small-semibold-line-height: 20px;
  --body-small-semibold-font-style: normal;

  --color-gray-1: rgba(58, 58, 58, 1);
  --color-gray-3: rgba(137, 137, 137, 1);
  --color-light-bg: rgba(244, 245, 247, 1);
}